<h1>Shopping Cart</h1>

<%= render :partial => 'shopping_cart_item', :collection => @shopping_cart.shopping_cart_items %>

<div>
  <div><b>Total:</b><%= number_to_currency @shopping_cart.total %></div>
   <%= link_to 'Clear Cart', @shopping_cart, method: :delete, data: { confirm: 'Are you sure?' } %>
